# -*- mode: gitignore; -*-

{% if include_shell_spec -%}
##############################################################################
## Shellspec
##############################################################################

/coverage/
/report/
{% endif -%}